/*共通項目定義*/
a{
    text-decoration:none;
}

a:hover{
    font-weight:bold;
    text-decoration:underline;
    color:#00f;
}

li[class="Explanation"]{
    font-weight:350;
    font-family:"Helvetica Neue",sans-serif;
}

h3 + p{
    font-size:20px;
}

/*個別項目定義*/
#TITLE_OF_PROFILE{
    font-size:30px;
    text-align:center;
}

/*Profiles*/
section[id="PROFILE"] h2{
    margin-bottom:0px;
}

section[id="PROFILE"] div{
    display:inline-block;
    padding:0px 0px 5px 0px;
    width:630px;
    margin-left:10px
}

div[class="RelatedLinks"] nav{
    font-size:20px;
    background-color:#aaa;
    border:5px #000 dashed;
    box-sizing:border-box;
    padding:0px 5px 5px 10px;
    border-radius:10px;
    width:600px;
    margin-left:200px;
}

.RelatedLinks p{
    text-align:center;
    padding:0px 0px 10px 0px;
    height:5px;
    margin:5px 0px 15px 0px;
}

.RelatedLinks ul{
    display:inline-block;
    width:200px;
}

.RelatedLinks ul{
    padding-left:20px;
    margin-top:2px;
    margin-bottom:2px;
    width:150px;
    display:inline-block;
}

.RelatedLinks nav span :hover{
    background-color:#aa0;
}

 /*Productions*/

section[id="PRODUCTIONS"]{
    color:#fff;
    background-color:#333;
    padding-left:5px;
}

#PRODUCTIONS a{
    color:#fff;
}

#PRODUCTIONS div:hover{
    background-color:#550;
}