.qualification-section{
  color: #000;
  background-color: #e9e9e9;
  min-width: 0;
  width: 45%;
  height: 15rem;
  border-radius: 1.5rem;
  margin: 0 0.5rem;
  /* フレックスボックス */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.qualification-section .caption{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0.2rem;

  --outline: #000;

  text-shadow: 
    -1px -1px 0 var(--outline), 
    1px -1px 0 var(--outline), 
    -1px 1px 0 var(--outline), 
    1px 1px 0 var(--outline);
}

.qualification-section ul li{
  text-align: left;
}

@media (max-width: 900px){
  .qualification-section{
    width: 80%;
  }
}

@media (max-width: 600px){
  .qualification-section{
    height: fit-content;
  }
}
