.topics{
  color: inherit;
  background-color: #fff;
  width: 80vw;
  min-width: 0;
  border-radius: 1.5rem;
  margin: 0.5rem 0;
}

.topics legend{
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
}

.topics .topics-control-bar{
  background-color: #f9fafb;
  padding: 1px 0;
  border-top: 1px solid #d6d8dd;
  border-bottom: 1px solid #d6d8dd;
  gap: 0 1rem;

  /* フレックスボックス */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 512px){
  .topics .topics-control-bar{
    gap: 0 0.5rem;
    font-size: 0.7rem;
  }
}

.topics .caption{
  --outline: #059669;
  
  /* 文字の枠線 */
  text-shadow:
    -1px -1px 0 var(--outline), 
    1px -1px 0 var(--outline), 
    -1px 1px 0 var(--outline), 
    1px 1px 0 var(--outline);
}

.topics .content{
  text-align: left;
}

.topics table{
  border: 1px #dddbdb solid;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 1rem;
}

.topics table tr:nth-of-type(2n - 1){
  background-color: #f3f3f3;
  vertical-align: middle;
}

.topics table tr td:nth-of-type(-n + 3){
  width: 0.1%;
}

.topics a{
  text-decoration: none;
}

.topics a:hover{
  text-decoration: underline;
}
